.later {
  background-color: #000000;
  margin-right: 92%;
}
body {
  margin: 0;
  padding: 2px 20px;
  background-color: white;
}

header {
  /* box-shadow: 2px 2px black; */
  border: 2px solid #000;
  position: relative;
  z-index: 99999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  position: absolute;
  width: 1152px;
  height: 81px;
  left: 144px;
  top: 34px;

  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

#hero-writing-section {
  z-index: 99999999999;
  position: relative;
}

#blockchain-img img {
  position: absolute;
  top: 5%;
  right: 5%;
}

.top-nav-ul {
  display: flex;
}

.top-nav-li {
  display: flex;
  list-style: none;
  padding: 10px;
}

.top-nav-a {
  text-decoration: none;
  color: black;
}

.button {
  word-spacing: 5px;
  width: 146px;
  height: 19px;

  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;

  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 10px;
  gap: 4px;

  width: 166px;
  height: 43px;

  background: #6e4acf;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 25px rgba(158, 84, 235, 0.2);
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.blockchain-image {
  top: 5%;
  right: 5%;
  position: absolute;
}

#hero-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  position: absolute;
  width: 709px;
  height: 144px;
  left: 148px;
  top: 345px;

  width: 709px;
  height: 144px;

  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  /* or 120% */
  letter-spacing: 2px;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.header {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 915.5px;
  height: 43px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 137px;

  width: 915.5px;
  height: 43px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#purple-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 11px;

  width: 124.5px;
  height: 31px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  width: 40.5px;
  height: 31px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* nav {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 351px;
height: 43px;


flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
} */

.top-lorem-text {
  position: absolute;
  width: 623px;
  height: 90px;
  left: 148px;
  top: 513px;

  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  color: #a6a6a6;
}

#learn-list {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 66px;

  position: absolute;
  width: 1154px;
  height: 408px;
  left: 144px;
  top: 1554px;
}

.learn-list-heading {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;

  width: 471px;
  height: 51px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  width: 471px;
  height: 51px;

  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 51px;
  /* identical to box height */
  text-align: center;

  color: #000000;
}

#learn-list-grid {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  padding: 0px;
  gap: 36px 25px;

  width: 1154px;
  height: 291px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.learn-list-item {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  gap: 42px;

  width: 368px;
  height: 73px;

  background: #ffffff;
  border: 1px solid rgba(0, 127, 255, 0.19);
  border-radius: 20px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  /* Frame 10 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  gap: 10px;

  width: 368px;
  height: 53px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  /* Blockchain security */

  width: 308px;
  height: 33px;

  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 33px;
  /* identical to box height */
  text-align: center;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}

#testimonial-section {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 34px;

  position: absolute;
  width: 1152px;
  height: 489px;
  left: 144px;
  top: 2071px;
}

#top-testimonial-section {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 31px;

  width: 459px;
  height: 137px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#bottom-testimonial-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 50px;

  width: 1152px;
  height: 318px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

#testimonial {
  width: 175px;
  height: 18px;

  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 6px;
  text-transform: uppercase;

  color: #a6a6a6;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#testimonial-heading {
  width: 459px;
  height: 88px;

  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 2px;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.bottom-lorem-text {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 80px;
  gap: 10px;

  width: 1152px;
  height: 120px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  width: 992px;
  height: 120px;

  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */
  text-align: center;

  color: #a6a6a6;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}

#user-testimonial {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 12px;

  width: 171px;
  height: 148px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

#reppin {
  width: 171px;
  height: 21px;

  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;

  color: #d9d9d9;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#professionalv {
  width: 171px;
  height: 17px;

  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;

  color: #a6a6a6;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
