body {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20%;
  padding-right: 20%;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  text-align: left;
  padding: 10px 100px;
  gap: 10px;
  width: 100%;

  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 40px;
  gap: 137px;

  width: 915.5px;
  height: 43px;
  margin: 0 auto;
}

#purple-box {
  margin: 0px 5px;
}

.top-nav-ul {
  display: flex;
}

.top-nav-li {
  display: flex;
  list-style: none;
  padding: 10px;
}

.top-nav-a {
  text-decoration: none;
  color: black;
}

.button {
  color: #ffffff;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  width: 150px;
  height: 35px;
  background: #6e4acf;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 25px rgba(158, 84, 235, 0.2);
  border-radius: 8px;
}

#blockchain-img {
  position: relative;
  bottom: 370px;
  left: 400px;
  z-index: -1;
}

#hero-section {
  margin: 0 auto;
  width: 100%;
}

#hero-heading {
  font-weight: 400;
  font-size: 60px;
}

#hero-writing-section {
  position: relative;
  right: 57px;
  top: 185px;
  z-index: 999999;
}

.blockchain-bold {
  color: #6e4acf;
  margin: -15px 0px;
}

.top-lorem-text {
  font-size: 20px;
  line-height: 30px;
  margin: -40px 0px 10px 0px;

  color: #a6a6a6;
}

.our-story-video-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 10px;
  gap: 10px;

  position: relative;
  width: 100%;
  height: 600px;
  right: 50px;
  bottom: 300px;

  background: rgba(209, 193, 255, 0.2);
}

#our-story {
  position: relative;
  font-size: 40px;
  text-align: center;
}

#video {
  position: relative;
  bottom: 50px;
  z-index: 1;
}

#learn-list-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 250px;
}

.learn-list-heading {
  font-weight: 400;
  font-size: 40px;
}

#learn-list-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px;
  gap: 36px 25px;
  list-style: none;
}

#learn-list-grid li {
  padding: 20px 10px;
  border: 1px solid rgba(0, 127, 255, 0.19);
  box-sizing: border-box;
  border-radius: 20px;
}

.learn-list-item {
  color: black;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;

  width: 308px;
  height: 33px;

  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 33px;
  text-align: center;
}

#testimonial-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
  position: relative;
  bottom: 180px;
}

#top-testimonial-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bottom-testimonial-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#testimonial {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #a6a6a6;
}

#testimonial-heading {
  width: 459px;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 33px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 2px;
}

.bottom-lorem-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  width: 992px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;

  color: #a6a6a6;
}

#user-testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#reppin {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #d9d9d9;
}

#professional {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;

  color: #a6a6a6;
}

#faq-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 70px;
}

#up-faq {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-link {
  color: black;
  text-decoration: none;
}

.question-box {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.question {
  color: black;
  text-decoration: none;
  font-size: 40px;
  font-weight: 100;
  padding-bottom: 50px;
}

.plus-img {
  width: 40px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  gap: 8px;

  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

footer #bottom-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: black;
  list-style: none;
  font-size: 20px;
}

#bottom-nav a {
  text-decoration: none;
  color: black;
  padding: 0px 15px;
}

footer #footer-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: black;
  list-style: none;
  font-size: 20px;
}
