.later {
  background-color: #000000;
  margin-right: 92%;
}
body {
  margin: 0;
  padding: 2px 20px;
  background-color: white;
}

header {
  /* box-shadow: 2px 2px black; */
  border: 2px solid #000;
  border-top-left-radius: 35%;
  border-bottom-left-radius: 35%;
  border-top-right-radius: 35%;
  border-bottom-right-radius: 35%;
  display: flex;
  position: relative;
  z-index: 99999;
}

#hero-writing-section {
  z-index: 99999999999;
  position: relative;
}

#blockchain-img img {
  position: absolute;
  top: 5%;
  right: 5%;
}

.top-nav-ul {
  display: flex;
}

.top-nav-li {
  display: flex;
  list-style: none;
  padding: 10px;
}

.top-nav-a {
  text-decoration: none;
  color: black;
}

.button {
  word-spacing: 5px;
}

.blockchain-image {
  position: absolute;
  top: 5%;
  right: 5%;
}
